@model IEnumerable<HabeebFootwear.Models.VendorPayment>

@{
    ViewBag.Title = "ViewPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="box box-success">
    <div class="box-header with-border">
        <h2>ViewPayment</h2>
    </div>
    <div class="box-body">
        <table class="table table-striped table-bordered" id="example1">
            <thead>
                <tr>
                    <th>
                        Order ID
                    </th>
                    <th>
                        Payment Date
                    </th>
                    <th>
                        Total Amount
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.deleteStatus.Equals("N"))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.vendorOrder_Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.paymentDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VendorOrder.paymentStatus)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.vendorOrder_Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.vendorOrder_Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.vendorPayment_Id })
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>
</div>

